.calc-body{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
    border: 2px solid black;
}
.buttons{
    display: grid;
    gap: 10px;
}