@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Odibee+Sans&family=Oranienbaum&family=Pompiere&display=swap');
*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
h2{
    color: white;
    margin-bottom: 10px;
    font-size: 55px;
    letter-spacing: 3px;
}
P{
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: 600;
}
.main{
    width: 400px;
    display: flex;
}
.main>div{
    flex: 1;
    text-align: center;
    background: rgb(16, 145, 224);
    height: 100px;
    margin: 3px;
}
.main>div:nth-child(3){
    background-color: rgb(253, 39, 196);
}
.clk{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    
} 
.text{
    height: 50px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b83e5;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}
.text1{
    height: 50px;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #da30a4;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
}