/* body{
background-image: url('clock.png');
            background-size: 200px;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            color: white;
        } */
        /* #clock {
            font-weight: bold;
            background: gray;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 10px;
        } */

        /* h2 {
            margin-top: 80px;
            color: black;
            text-align: center;
        }
        .main1{
            background-color: lightskyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;
            justify-content: space-evenly;
            height: 100px;
            width: 100px;
        }


        #hr{
            background-color: rgba(141, 135, 250, 0.879);
            color: white;
            height: 40px;
            width: 100px;
            text-align: center;
        }
        main2{
            background-color: lightskyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;
            justify-content: space-evenly;
        }
        #min{
            background-color: lightskyblue;
            color: white;
            height: 100px;
            width: 100px;
            text-align: center;
        }
        main{
            background-color: lightskyblue;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5px;
            justify-content: space-evenly;
        }
        #sec{
            background-color: rgb(250, 135, 235);
            color: white;
            height: 100px;
            width: 100px;
            text-align: center;
        } */



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* background-color:red; */
}
h2{
    color: white;
    margin-bottom: 20px;
    font-size: 23px;
    letter-spacing: 2px;
}
.main{
    width: 300px;
    display: flex;
}
.main>div{
    flex: 1;
    text-align: center;
    background: lightskyblue;
    height: 100px;
    margin: 3px;
}
.main>div:nth-child(3){
    background-color: pink;

}
.num{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    /* box-shadow: 0px 3px 0 0 black; */
    position: relative;
    z-index: 10;

}
.text{
    height: 30px;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    background: #0b83e5;
    text-transform: uppercase;

}
.second text{
    background: palevioletred;
}