body{
background-image: url('clock.png');
            background-size: 200px;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            color: white;
            font-family: Arial, sans-serif;
        }

        h2 {
            margin-top: 250px;
        }

        #clock {
            font-size: 2em;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.5);
            display: inline-block;
            padding: 10px 20px;
            border-radius: 10px;
        }